<!DOCTYPE html>
<html>
<head>
    <title>Football Competitions</title>
</head>
<body>
<ul>
    {% for competition in competitions %}
        <li><a href="?page=competition&name={{ competition.code }}">{{ competition.name }}</a></li>
    {% endfor %}
</ul>

<br>
<br>
<br>

<h2>Register here:</h2>

<form action="" method="POST">
    <label for="name">Enter your full Name</label><br>
    <input type="text" value= "{{ sessionName }}" id="name" name="name"><br>
    <label for="mail">Enter your E-Mail</label><br>
    <input type="text" value="{{ sessionMail }}" id="mail" name="mail"><br>
    <label for="password">Enter your Password</label><br>
    <input type="password" id="password" name="password"><br>
    <input type="submit">
</form>

{{ eName }}
<br>
{{ eMail }}
<br>
{{ ePass }}
<br>
{{ error }}


</body>
</html>
