<!DOCTYPE html>
<html>
<head>
    <title>Teams</title>
</head>
<body>

<table>
    <tr>
        <th>Position</th>
        <th>Team</th>
        <th>Played Games</th>
        <th>Won</th>
        <th>Draw</th>
        <th>Lost</th>
        <th>Points</th>
        <th>Goals For</th>
        <th>Goals Against</th>
        <th>Goal Difference</th>
    </tr>
    {% for standing in standings %}
        <tr>
            <td> {{ standing.standingPosition }} </td>
            <td><img src="{{ standing.standingCrest }}" height="22" width="22"> <a
                        href="/index.php?page=team&id={{ standing.standingTeamId }}"> {{ standing.standingTeamName }} </a></td>
            <td> {{ standing.standingPlayedGames }} </td>
            <td> {{ standing.standingWon }} </td>
            <td> {{ standing.standingDraw }} </td>
            <td> {{ standing.standingLost }} </td>
            <td> {{ standing.standingPoints }} </td>
            <td> {{ standing.standingGoalsFor }} </td>
            <td> {{ standing.standingGoalsAgainst }} </td>
            <td> {{ standing.standingGoalDifference }} </td>
        </tr>
    {% endfor %}
</table>
</body>
</html>
