<!DOCTYPE html>
<html>
<head>
    <title>Football Competitions</title>
</head>
<body>

{% if user %}
    <p>
    {%for favorite in favorites %}
        |
        <img src="{{ favorite.crest }}" height="22" width="22"> <a href="/index.php?page=team&id={{favorite.id}}">{{ favorite.name }}</a>
        |
    {% endfor %}
    </p>

    <p>Welcome back, {{ user }}</p>
{% endif %}

<ul>
    {% for competition in competitions %}
        <li><a href="?page=competition&name={{ competition.competitionCode }}">{{ competition.competitionName }}</a></li>
    {% endfor %}
</ul>


{% if not user %}
    <p>Need to log in? Go <a href=/index.php?page=login>here</a>!</p>
    <p>No Account? Register <a href=/index.php?page=registration>here</a>!</p>
{% endif %}


{% if user %}
    <p>Log out? Click <a href=/index.php?page=logout>here</a>.</p>
    <p>Manage your favorite teams? Click <a href=/index.php?page=favorites&action=manage>here</a>.</p>

{% endif %}

</body>
</html>
